video {
    width: 100%;
}

.controls {
    width: 100%;
    
    .play-btn {
        width: 60px;
        height: 60px;
        border-radius: 5px 5px 0px 5px;
        padding: 10px 14.5px;
        
        i.fa {
            color: $accent-blue;
            font-size: 40px;
        }
        
    }

    .buttons {
        height: 40px;
        width: 170px;
        
        
        .time {
            float: left;
            color: $accent-blue;
            padding: 10px;
            font-size: 15px;
        }

        .volume {
            float: left;
            color: $accent-blue;
            padding: 10px;
            font-size: 15px;
        }
    }
}


.container {
    position: relative;
}