<% include header %>

<div class="outer-table">
  <div class="inner-table">
    <form class="form-inline" role="form" action="/users/session" method="post">
      <div class="form-group">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
  </div>
</div>

<% include footer %>
